src/main/webapp/assets/xml-configs/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="edu.hsb.biodivapp" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="configuration" type="edu:configurationType" xmlns:edu="edu.hsb.biodivapp"/>
    <xs:complexType name="configurationType" mixed="true">
        <xs:sequence>
            <xs:element type="edu:locale" name="defaultLanguage" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:mapType" name="map" minOccurs="0" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:singleSubmitType" name="singleSubmit" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:multiSubmitType" name="multiSubmit" minOccurs="0" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <!-- basic elements <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
    <xs:complexType name="mapType"> <!-- not supported yet -->
        <xs:sequence>
            <xs:element type="xs:string" name="option1"/>
            <xs:element type="xs:string" name="option2"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="singleSubmitType">
        <xs:sequence>
            <xs:element type="edu:entryGroupType" name="entryGroup" minOccurs="1" maxOccurs="unbounded" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="logType"> 
        <xs:sequence>
            <xs:element type="xs:boolean" name="show" minOccurs="1" maxOccurs="1"  xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="xs:integer" name="rowCount"  default="3" minOccurs="0" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="multiSubmitType"> 
        <xs:sequence>
            <xs:element type="edu:logType" name="log" minOccurs="0" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:restidMultiType" name="summerizeDataBy" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:entryGroupType" name="entryGroup" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <!--entryGroup-->
    <xs:complexType name="entryGroupType">
        <xs:sequence>
            <xs:element type="edu:labelsType" name="labels" xmlns:edu="edu.hsb.biodivapp" minOccurs="1" maxOccurs="1" />
            <xs:element type="edu:entryType" name="entry" minOccurs="1" maxOccurs="unbounded" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    <!--entry-->
    <xs:complexType name="entryType">
        <xs:sequence>
            <xs:element type="xs:boolean" name="mandatory" minOccurs="0" maxOccurs="1" default="true"/>
            <xs:element type="edu:labelsType" name="labels" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:viewportType" name="viewport" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
        <xs:attribute type="xs:ID" name="restid" use="required"/>
    </xs:complexType>


    <xs:complexType name="viewportType">
        <xs:choice>
            <xs:element type="edu:spinnerType" name="spinner" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="xs:string" name="textfield" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:numerictextfieldType" name="numerictextfield" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:buttonmatrixType" name="buttonmatrix" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:numberpickerType" name="numberpicker" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:choice>
    </xs:complexType>

    <!-- viewportTypes <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <xs:complexType name="spinnerType">
        <xs:sequence>
            <xs:element type="edu:datasourceType" name="datasource" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <!--<xs:complexType name="textfieldType">
        <xs:sequence>
            <xs:element type="xs:int" name="decimalplaces"/>
            <xs:element type="edu:datasourceType" name="datasource" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType> -->

    <xs:complexType name="numerictextfieldType">
        <xs:sequence>
            <xs:element type="xs:nonNegativeInteger" name="decimalplaces" minOccurs="0" maxOccurs="1" default="2"/>
            <xs:element type="xs:nonNegativeInteger" name="min" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:nonNegativeInteger" name="max" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="buttonmatrixType">
        <xs:sequence>
            <xs:element type="xs:positiveInteger" name="numberOfButtons" minOccurs="0" maxOccurs="1"  default="8"/>
            <xs:element type="edu:datasourceType" name="datasource" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="numberpickerType">
        <xs:sequence>
            <xs:element type="xs:int" name="decimalplaces" minOccurs="0" maxOccurs="1" default="2"/>
            <xs:element type="xs:nonNegativeInteger" name="min" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:nonNegativeInteger" name="max" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <!-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <xs:complexType name="datasourceType">
        <xs:sequence>
            <xs:element name="orderby" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp" default="none">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="asc"/>
                        <xs:enumeration value="desc"/>
                        <xs:enumeration value="none"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="edu:optionsType" name="options" minOccurs="1" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
            <xs:element type="edu:defaultsType" name="defaults" minOccurs="0" maxOccurs="1" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="local"/>
                    <xs:enumeration value="rest"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- datasource definitions <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
    <xs:complexType name="optionsType">
        <xs:choice>
            <xs:element name="uri" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:enumeration value="/rest/sourcetypes"/>
                        <xs:enumeration value="/rest/recordqualities"/>
                        <xs:enumeration value="/rest/countries"/>
                        <xs:enumeration value="/rest/species"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="edu:optionType" name="option" minOccurs="1" maxOccurs="unbounded" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="optionType">
        <xs:sequence>
            <xs:element type="xs:NCName" name="key"/>
            <xs:element type="edu:labelsType" name="labels" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="defaultsType">
        <xs:sequence>
            <xs:element type="xs:string" name="default" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <!-- labels <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
    <xs:complexType name="labelsType">
        <xs:sequence>
            <xs:element type="edu:labelType" name="label" minOccurs="1" maxOccurs="unbounded" xmlns:edu="edu.hsb.biodivapp"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="labelType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="edu:locale" name="lang" use="required" xmlns:edu="edu.hsb.biodivapp"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="locale">
        <xs:restriction base="xs:token">
            <xs:pattern
                    value="[a-zA-Z]{1,8}(_[a-zA-Z0-9]{1,8})*"
                    id="locale.pattern">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <!-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <xs:simpleType name="restidSingleType">
        <xs:restriction base="xs:token">
            <xs:pattern
                    value="sampling(.[a-zA-Z])+"
                    id="restidSingle.pattern">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="restidMultiType">
        <xs:restriction base="xs:token">
            <xs:pattern
                    value="sampling.record(.[a-zA-Z])+"
                    id="restidMulti.pattern">
            </xs:pattern>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>